{% extends 'base.html' %}
{% block body %}
{% load static %}
    <!-- Main start -->
    <main class="main">

        <!-- Breadcrumb Section Start -->
        <div class="breadcrumb-wrapper bg-cover" style="background-image: url('assets/img/breadcrumb.jpg');">
           <div class="arrow-shape float-bob-y">
               <img src="assets/img/arrow.png" alt="img">
           </div>
           <div class="dot-shape float-bob-y">
               <img src="assets/img/dot.png" alt="img">
           </div>
           <div class="container">
               <div class="page-heading">
                   <div class="breadcrumb-sub-title">
                       <h1 class="wow fadeInUp" data-wow-delay=".3s">About <span>Agency</span></h1>
                   </div>
                   <ul class="breadcrumb-items wow fadeInUp" data-wow-delay=".5s">
                       <li>
                           <a href="index.html">
                           Home
                           </a>
                       </li>
                       <li>
                           <i class="fa-solid fa-arrow-right"></i>
                       </li>
                       <li>
                           About
                       </li>
                   </ul>
               </div>
           </div>
       </div>


         <!-- About Section Start -->
         <section class="about-section fix section-padding">
           <div class="container">
               <div class="about-wrapper-2">
                   <div class="row">
                       <div class="col-xl-12">
                           <div class="about-header-items">
                               <h2 class="wow fadeInUp" data-wow-delay=".3s">Best creative & modern<br> Creative agency.</h2>
                               <div class="counter-area">
                                   <div class="counter-item wow fadeInUp" data-wow-delay=".3s">
                                       <h2><span class="count">250</span>+</h2>
                                           <p>Team member</p>
                                   </div>
                                   <div class="counter-item wow fadeInUp" data-wow-delay=".5s">
                                       <h2><span class="count">850</span>+</h2>
                                           <p>Project Done</p>
                                   </div>
                                   <div class="counter-item wow fadeInUp" data-wow-delay=".7s">
                                       <h2><span class="count">360</span>+</h2>
                                           <p>Happy Clients</p>
                                   </div>
                               </div>
                           </div>
                           <div class="about-image wow fadeInUp" data-wow-delay=".4s">
                               <img src="assets/img/about/04.png" alt="img">
                               <a href="https://www.youtube.com/watch?v=Cn4G2lZ_g2I" class="video-btn ripple video-popup">
                                   <i class="fa-duotone fa-play"></i>
                               </a>
                           </div>
                           <div class="row g-4 align-items-center">
                               <div class="col-xl-6">
                                   <div class="about-content">
                                       <h3 class="wow fadeInUp" data-wow-delay=".3s">Our Story</h3>
                                       <p class="pb-3 wow fadeInUp" data-wow-delay=".5s">Nam posuere mauris enim, quis pretium elit placerat id  Fusce egestas nisi vel ipsum vehicula facilisis In pulvinar imperdiet venenatis  Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Donec eu pulvinar lorem. </p>
                                       <p class="wow fadeInUp" data-wow-delay=".7s"> Fusce egestas nisi vel ipsum vehicula facilisis. In pulvinar imperdiet venenatis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Donec eu </p>
                                   </div>
                               </div>
                               <div class="col-xl-6">
                                   <div class="progress-area">
                                       <div class="progress-wrap">
                                           <div class="pro-items wow fadeInUp" data-wow-delay=".3s">
                                               <div class="pro-head">
                                                   <h6 class="title">
                                                       Branding Design
                                                   </h6>
                                                   <span class="point">
                                                       86%
                                                   </span>
                                               </div>
                                               <div class="progress">
                                                   <div class="progress-value"></div>
                                               </div>
                                           </div>
                                           <div class="pro-items wow fadeInUp" data-wow-delay=".5s">
                                               <div class="pro-head">
                                                   <h6 class="title">
                                                       Business
                                                   </h6>
                                                   <span class="point">
                                                       96%
                                                   </span>
                                               </div>
                                               <div class="progress">
                                                   <div class="progress-value style-two"></div>
                                               </div>
                                           </div>
                                           <div class="pro-items wow fadeInUp" data-wow-delay=".7s">
                                               <div class="pro-head">
                                                   <h6 class="title">
                                                       Web Design
                                                   </h6>
                                                   <span class="point">
                                                       95%
                                                   </span>
                                               </div>
                                               <div class="progress">
                                                   <div class="progress-value style-three"></div>
                                               </div>
                                           </div>
                                       </div>
                                   </div>
   
                               </div>
                           </div>
                       </div>
                   </div>
               </div>
           </div>
       </section>

       <!-- Brand Section Start -->
        <div class="brand-section fix section-padding pt-0">
           <div class="container">
               <div class="brand-wrapper">
                   <div class="swiper brand-slider">
                       <div class="swiper-wrapper">
                           <div class="swiper-slide">
                               <div class="brand-image text-center">
                                   <img src="assets/img/brand/01.png" alt="img">
                               </div>
                           </div>
                           <div class="swiper-slide">
                               <div class="brand-image text-center">
                                   <img src="assets/img/brand/02.png" alt="img">
                               </div>
                           </div>
                           <div class="swiper-slide">
                               <div class="brand-image text-center">
                                   <img src="assets/img/brand/03.png" alt="img">
                               </div>
                           </div>
                           <div class="swiper-slide">
                               <div class="brand-image text-center">
                                   <img src="assets/img/brand/04.png" alt="img">
                               </div>
                           </div>
                           <div class="swiper-slide">
                               <div class="brand-image text-center">
                                   <img src="assets/img/brand/05.png" alt="img">
                               </div>
                           </div>
                       </div>
                   </div>
               </div>
           </div>
        </div>

        <!-- team Section Start --> 
        <section class="team-section section-bg section-padding">
           <div class="container">
               <div class="section-title-area">
                   <div class="section-title mt-0">
                       <span class="wow fadeInUp">OUR experts <i class="fa-solid fa-arrow-right"></i></span>
                       <h2 class="wow fadeInUp" data-wow-delay=".3s">Meet our creative staff</h2>
                   </div>
                   <a href="team.html" class="link-btn wow fadeInUp" data-wow-delay=".5s">
                       View ALL tEAM <i class="fa-sharp fa-light fa-arrow-right-long"></i>
                   </a>
               </div>
               <div class="row g-4">
                   <div class="col-xl-3 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay=".2s">
                       <div class="team-card-item">
                           <div class="team-image">
                               <img src="assets/img/team/01.jpg" alt="img">
                               <div class="social-icon d-flex align-items-center">
                                   <a href="#"><i class="fab fa-facebook-f"></i></a>
                                   <a href="#"><i class="fab fa-twitter"></i></a>
                                   <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
                                   <a href="#"><i class="fa-brands fa-instagram"></i></a>
                               </div>
                           </div>
                           <div class="team-content">
                               <p>Programmer</p>
                               <h3><a href="team-details.html">Leslie Alexander</a></h3>
                           </div>
                       </div>
                   </div>
                   <div class="col-xl-3 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay=".4s">
                       <div class="team-card-item">
                           <div class="team-image">
                               <img src="assets/img/team/02.jpg" alt="img">
                               <div class="social-icon d-flex align-items-center">
                                   <a href="#"><i class="fab fa-facebook-f"></i></a>
                                   <a href="#"><i class="fab fa-twitter"></i></a>
                                   <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
                                   <a href="#"><i class="fa-brands fa-instagram"></i></a>
                               </div>
                           </div>
                           <div class="team-content">
                               <p>UI/UX designer</p>
                               <h3><a href="team-details.html">Darlene Robertson</a></h3>
                           </div>
                       </div>
                   </div>
                   <div class="col-xl-3 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay=".6s">
                       <div class="team-card-item">
                           <div class="team-image">
                               <img src="assets/img/team/03.jpg" alt="img">
                               <div class="social-icon d-flex align-items-center">
                                   <a href="#"><i class="fab fa-facebook-f"></i></a>
                                   <a href="#"><i class="fab fa-twitter"></i></a>
                                   <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
                                   <a href="#"><i class="fa-brands fa-instagram"></i></a>
                               </div>
                           </div>
                           <div class="team-content">
                               <p>Web developer</p>
                               <h3><a href="team-details.html">Marvin McKinney</a></h3>
                           </div>
                       </div>
                   </div>
                   <div class="col-xl-3 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay=".8s">
                       <div class="team-card-item">
                           <div class="team-image">
                               <img src="assets/img/team/04.jpg" alt="img">
                               <div class="social-icon d-flex align-items-center">
                                   <a href="#"><i class="fab fa-facebook-f"></i></a>
                                   <a href="#"><i class="fab fa-twitter"></i></a>
                                   <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
                                   <a href="#"><i class="fa-brands fa-instagram"></i></a>
                               </div>
                           </div>
                           <div class="team-content">
                               <p>CEO</p>
                               <h3><a href="team-details.html">Esther Howard</a></h3>
                           </div>
                       </div>
                   </div>
               </div>
           </div>
       </section>

        <!-- Awards Section Start -->
        <section class="awards-section fix section-padding">
           <div class="container">
               <div class="awards-wrapper">
                   <div class="row g-4 justify-content-between">
                       <div class="col-lg-6">
                           <div class="awards-content">
                               <h2 class="wow fadeInUp" data-wow-delay=".3s">awards</h2>
                               <p class="wow fadeInUp" data-wow-delay=".5s">
                                   In rhoncus velit non varius consequat. Etiam efficitur rutrum orci id is bibendum. Fusce rutrum dapibus felis, eu feugiat lacus ultricies sed. Nulla ut dapibus eros nec dictum ipsum. 
                               </p>
                               <a href="about.html" class="link-btns wow fadeInUp" data-wow-delay=".7s">
                                   Explore more <i class="fa-sharp fa-light fa-arrow-right-long"></i>
                               </a>
                           </div>
                       </div>
                       <div class="col-lg-3">
                           <div class="awards-year">
                               <div class="year-text wow fadeInUp" data-wow-delay=".3s">2016</div>
                               <div class="year-text color-2 wow fadeInUp" data-wow-delay=".5s">2015</div>
                               <div class="year-text wow fadeInUp" data-wow-delay=".7s">2014</div>
                           </div>
                       </div>
                   </div>
               </div>
           </div>
       </section>

        <!-- Counter Section Start -->
        <section class="counter-section fix section-padding pt-0 margin-top-10">
           <div class="container">
               <div class="row g-4">
                   <div class="col-xl-3 col-lg-4 col-md-6 wow fadeInUp" data-wow-delay=".2s">
                       <div class="counter-items text-center">
                           <h2><span class="count">250</span>+</h2>
                           <p class="text-white">Team member</p>
                       </div>
                   </div>
                   <div class="col-xl-3 col-lg-4 col-md-6 wow fadeInUp" data-wow-delay=".4s">
                       <div class="counter-items text-center">
                           <h2><span class="count">850</span>+</h2>
                           <p class="text-white">Project Done</p>
                       </div>
                   </div>
                   <div class="col-xl-3 col-lg-4 col-md-6 wow fadeInUp" data-wow-delay=".6s">
                       <div class="counter-items text-center">
                           <h2><span class="count">360</span>+</h2>
                           <p class="text-white">Happy Clients</p>
                       </div>
                   </div>
                   <div class="col-xl-3 col-lg-4 col-md-6 wow fadeInUp" data-wow-delay=".8s">
                       <div class="counter-items text-center">
                           <h2><span class="count">160</span>+</h2>
                           <p class="text-white">Winning Award</p>
                       </div>
                   </div>
               </div>
           </div>
       </section>

        <!-- Marquee Section Start -->
        <div class="marquee-sections fix section-padding pt-0">
           <div class="mycustom-marque">
               <div class="scrolling-wrap gap-100">
                   <div class="comm">
                       <div class="cmn-textslide textitalick text-custom-storke">Contact</div>
                       <div class="cmn-textslide textitalick text-custom-storke">us</div>
                       <div class="cmn-textslide textitalick text-custom-storke">now</div>
                   </div>
                   <div class="comm">
                       <div class="cmn-textslide textitalick text-custom-storke">Contact</div>
                       <div class="cmn-textslide textitalick text-custom-storke">us</div>
                       <div class="cmn-textslide textitalick text-custom-storke">now</div>
                   </div>
                   <div class="comm">
                       <div class="cmn-textslide textitalick text-custom-storke">Contact</div>
                       <div class="cmn-textslide textitalick text-custom-storke">us</div>
                       <div class="cmn-textslide textitalick text-custom-storke">now</div>
                   </div>
               </div>
           </div>
       </div>

   </main>
   <!-- Main End -->
{% endblock body %}
