{% extends 'base.html' %}
{% block body %}
{% load static %}
    <!-- Main start -->
    <main class="main">

        <!-- Breadcrumb Section Start -->
        <div class="breadcrumb-wrapper bg-cover" style="background-image: url('assets/img/breadcrumb.jpg');">
            <div class="arrow-shape float-bob-y">
                <img src="assets/img/arrow.png" alt="img">
            </div>
            <div class="dot-shape float-bob-y">
                <img src="assets/img/dot.png" alt="img">
            </div>
            <div class="container">
                <div class="page-heading">
                    <div class="breadcrumb-sub-title">
                        <h1 class="wow fadeInUp" data-wow-delay=".3s">Pricing <span>Plans</span></h1>
                    </div>
                    <ul class="breadcrumb-items wow fadeInUp" data-wow-delay=".5s">
                        <li>
                            <a href="index.html">
                            Home
                            </a>
                        </li>
                        <li>
                            <i class="fa-solid fa-arrow-right"></i>
                        </li>
                        <li>
                            Pricing Plans
                        </li>
                    </ul>
                </div>
            </div>
        </div>


        <!-- Pricing Section Start -->
        <section class="pricing-section fix section-padding">
            <div class="container">
                <div class="section-title-area bor-bottom">
                    <div class="section-title">
                        <span class="wow fadeInUp">Pricing Table <i class="fa-solid fa-arrow-right"></i></span>
                        <h2 class="wow fadeInUp" data-wow-delay=".3s">Choose Your Perfect <br> Pricing</h2>
                    </div>
                    <a href="pricing.html" class="link-btn wow fadeInUp" data-wow-delay=".5s">
                        VIEW ALL PRICING <i class="fa-sharp fa-light fa-arrow-right-long"></i>
                    </a>
                </div>
                <div class="row">
                    <div class="col-lg-12 wow fadeInUp" data-wow-delay=".3s">
                        <div class="pricing-items">
                            <div class="pricing-header">
                                <p>Development</p>
                                <h3>Marketing</h3>
                            </div>
                            <h4>$5,000- 9,000</h4>
                            <a href="pricing.html" class="link-btn">
                                Explore Plan <i class="fa-solid fa-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-12 wow fadeInUp" data-wow-delay=".5s">
                        <div class="pricing-items active">
                            <div class="pricing-header">
                                <p>Development</p>
                                <h3>Branding</h3>
                            </div>
                            <h4>$6,000- 11,000</h4>
                            <a href="pricing.html" class="link-btn">
                                Explore Plan <i class="fa-solid fa-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-12 wow fadeInUp" data-wow-delay=".7s">
                        <div class="pricing-items">
                            <div class="pricing-header">
                                <p>Development</p>
                                <h3>Strategy</h3>
                            </div>
                            <h4>$7,000- 14,000</h4>
                            <a href="pricing.html" class="link-btn">
                                Explore Plan <i class="fa-solid fa-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Marquee Section Start -->
        <div class="marquee-sections fix section-padding pt-0">
            <div class="mycustom-marque">
                <div class="scrolling-wrap gap-100">
                    <div class="comm">
                        <div class="cmn-textslide textitalick text-custom-storke">Contact</div>
                        <div class="cmn-textslide textitalick text-custom-storke">us</div>
                        <div class="cmn-textslide textitalick text-custom-storke">now</div>
                    </div>
                    <div class="comm">
                        <div class="cmn-textslide textitalick text-custom-storke">Contact</div>
                        <div class="cmn-textslide textitalick text-custom-storke">us</div>
                        <div class="cmn-textslide textitalick text-custom-storke">now</div>
                    </div>
                    <div class="comm">
                        <div class="cmn-textslide textitalick text-custom-storke">Contact</div>
                        <div class="cmn-textslide textitalick text-custom-storke">us</div>
                        <div class="cmn-textslide textitalick text-custom-storke">now</div>
                    </div>
                </div>
            </div>
        </div>


    </main>
    <!-- Main End -->
{% endblock body %}
