{% extends 'base.html' %}
{% block body %}
{% load static %}

    <!-- Main start -->
    <main class="main">

        <!-- Breadcrumb Section Start -->
        <div class="breadcrumb-wrapper bg-cover" style="background-image: url('assets/img/breadcrumb.jpg');">
            <div class="arrow-shape float-bob-y">
                <img src="assets/img/arrow.png" alt="img">
            </div>
            <div class="dot-shape float-bob-y">
                <img src="assets/img/dot.png" alt="img">
            </div>
            <div class="container">
                <div class="page-heading">
                    <div class="breadcrumb-sub-title">
                        <h1 class="wow fadeInUp" data-wow-delay=".3s">Services <span>Details</span></h1>
                    </div>
                    <ul class="breadcrumb-items wow fadeInUp" data-wow-delay=".5s">
                        <li>
                            <a href="index.html">
                            Home
                            </a>
                        </li>
                        <li>
                            <i class="fa-solid fa-arrow-right"></i>
                        </li>
                        <li>
                            Services Details
                        </li>
                    </ul>
                </div>
            </div>
        </div>


    <!-- Service Details Section Start -->
    <section class="service-details-section fix section-padding">
        <div class="container">
            <div class="service-deatails-wrapper">
                <div class="details-content">
                    <h2>Building digital products end to end</h2>
                    <ul class="post-card">
                        <li>creative</li>
                        <li>Branding</li>
                        <li>Analytics</li>
                        <li>Audience</li>
                    </ul>
                    <div class="row align-items-center">
                        <div class="col-lg-7">
                            <div class="content">
                                <h3>Service Overview</h3>
                                <p>Nam posuere mauris enim, quis pretium elit placerat id  Fusce egestas nisi vel ipsum vehicula facilisis In pulvinar imperdiet venenatis  Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Donec eu pulvinar lorem. Etiam vestibulum ligula quis nisl feugiat, consectetur placerat augue vestibulum  Nulla aliquam elit eu diam pharetra.</p>
                            </div>
                        </div>
                        <div class="col-lg-5">
                            <h3 class="d-opacity">Fusce</h3>
                            <p> Fusce egestas nisi vel ipsum vehicula facilisis. In pulvinar imperdiet venenatis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Donec eu pulvinar lorem. Etiam vestibulum ligula quis nisl feugiat, consectetur placerat augue vestibulum.</p>
                        </div>
                    </div>
                    <div class="row g-5 mt-2">
                        <div class="col-lg-7">
                            <h3>General Capabilities</h3>
                            <div class="list-items">
                                <ul>
                                    <li><span>JavaScript (Node, React, Angular, Vue)</span></li>
                                    <li><span>Java (Spring, Hibernate), Kotlin</span></li>
                                    <li><span>Legacy systems reengineering</span></li>
                                </ul>
                                <ul>
                                    <li><span>PHP (Laravel, Symphony)</span></li>
                                    <li><span>IoT/embedded development</span></li>
                                    <li><span>quis pretium elit placerat id Fusce egestas </span></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-5">
                            <h3 class="d-opacity">fff</h3>
                            <div class="progress-area">
                                <div class="progress-wrap">
                                    <div class="pro-items">
                                        <div class="pro-head">
                                            <h6 class="title">
                                                Branding Design
                                            </h6>
                                            <span class="point">
                                                86%
                                            </span>
                                        </div>
                                        <div class="progress">
                                            <div class="progress-value"></div>
                                        </div>
                                    </div>
                                    <div class="pro-items">
                                        <div class="pro-head">
                                            <h6 class="title">
                                                Business
                                            </h6>
                                            <span class="point">
                                                96%
                                            </span>
                                        </div>
                                        <div class="progress">
                                            <div class="progress-value style-two"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row g-4 mt-4">
                        <div class="col-lg-6">
                            <div class="service-details-image">
                                <img src="assets/img/service/details-2.jpg" alt="img">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="service-details-image">
                                <img src="assets/img/service/details-3.jpg" alt="img">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

      <!-- Service Section Start -->
   <section class="service-section fix  section-bg section-padding">
    <div class="container">
        <div class="section-title text-center">
            <span class="wow fadeInUp">HOW WE WORK <i class="fa-solid fa-arrow-right"></i></span>
            <h2 class="wow fadeInUp" data-wow-delay=".3s">Discover how we engineer</h2>
        </div>
        <div class="row">
            <div class="col-xl-4 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay=".3s">
                <div class="service-box-items">
                    <div class="icon">
                        <img src="assets/img/icon/icon-1.svg" alt="img">
                    </div>
                    <div class="number">
                        01
                    </div>
                    <div class="content">
                        <h3><a href="service-details.html">Team augmentation</a></h3>
                        <p>Domination At the end of the going forward new normal that has evolved from generation.</p>
                        <ul class="mb-0">
                            <li>
                                <i class="fa-light fa-circle-check"></i>
                                Keeps your full-time staffing lean
                            </li>
                            <li>
                                <i class="fa-light fa-circle-check"></i>
                                Fast ramp-up of your technical team
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay=".5s">
                <div class="service-box-items">
                    <div class="icon">
                        <img src="assets/img/icon/icon-2.svg" alt="img">
                    </div>
                    <div class="number">
                        02
                    </div>
                    <div class="content">
                        <h3><a href="service-details.html">Dedicated teams</a></h3>
                        <p>Domination At the end of the going forward new normal that has evolved from generation.</p>
                        <ul class="mb-0">
                            <li>
                                <i class="fa-light fa-circle-check"></i>
                                Best tech talents available in the long run
                            </li>
                            <li>
                                <i class="fa-light fa-circle-check"></i>
                                Lower maintenance costs
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay=".7s">
                <div class="service-box-items">
                    <div class="icon">
                        <img src="assets/img/icon/icon-3.svg" alt="img">
                    </div>
                    <div class="number">
                        03
                    </div>
                    <div class="content">
                        <h3><a href="service-details.html">Project based</a></h3>
                        <p>Domination At the end of the going forward new normal that has evolved from generation.</p>
                        <ul class="mb-0">
                            <li>
                                <i class="fa-light fa-circle-check"></i>
                                No management overhead
                            </li>
                            <li>
                                <i class="fa-light fa-circle-check"></i>
                                Lower cost in the long run
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
   </section>

    <!-- Pricing Section Start -->
    <section class="pricing-section fix section-padding">
        <div class="container">
            <div class="row g-4">
                <div class="col-xxl-4 col-lg-6">
                    <div class="pricing-content">
                        <div class="section-title">
                            <span class="wow fadeInUp">Pricing Plan <i class="fa-solid fa-arrow-right"></i></span>
                            <h2 class="wow fadeInUp" data-wow-delay=".3s">Choose Your Perfect Pricing</h2>
                        </div>
                        <ul class="check-list mt-4 mt-md-0 wow fadeInUp" data-wow-delay=".5s">
                            <li>
                                <i class="fa-light fa-circle-check"></i>
                                Top quality service
                            </li>
                            <li>
                                <i class="fa-light fa-circle-check"></i>
                                Branding And Design
                            </li>
                        </ul>
                        <a href="pricing.html" class="link-btn wow fadeInUp" data-wow-delay=".3s">view Pricing Plan <i class="fa-sharp fa-light fa-arrow-right-long"></i></a>
                    </div>
                </div>
                <div class="col-xxl-8">
                    <div class="single-pricing-items wow fadeInUp" data-wow-delay=".3s">
                        <div class="pricing-header">
                            <h2>Product Design</h2>
                            <p>Proin rhoncus ex eu orci fermentum, et vestibulum odio euismod. Cras vehicula lacinia tristique. Morbi sapien. </p>
                        </div>
                        <div class="price-items">
                            <ul class="price-list">
                                <li>
                                    <i class="fa-light fa-circle-check"></i>
                                    Free 15 GB Linux Hosting
                                </li>
                                <li>
                                    <i class="fa-light fa-circle-check"></i>
                                    Unlimited Download Data
                                </li>
                                <li>
                                    <i class="fa-light fa-circle-check"></i>
                                    Branding And Design
                                </li>
                            </ul>
                            <div class="price-cont">
                                <h2>$39<sub>/month</sub></h2>
                                <a href="pricing.html" class="link-btn">
                                    Choose Plan <i class="fa-solid fa-arrow-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="single-pricing-items wow fadeInUp" data-wow-delay=".5s">
                        <div class="pricing-header">
                            <h2>Brand & Design</h2>
                            <p>Proin rhoncus ex eu orci fermentum, et vestibulum odio euismod. Cras vehicula lacinia tristique. Morbi sapien. </p>
                        </div>
                        <div class="price-items">
                            <ul class="price-list">
                                <li>
                                    <i class="fa-light fa-circle-check"></i>
                                    Free 15 GB Linux Hosting
                                </li>
                                <li>
                                    <i class="fa-light fa-circle-check"></i>
                                    Unlimited Download Data
                                </li>
                                <li>
                                    <i class="fa-light fa-circle-check"></i>
                                    Branding And Design
                                </li>
                            </ul>
                            <div class="price-cont">
                                <h2>$59<sub>/month</sub></h2>
                                <a href="pricing.html" class="link-btn">
                                    Choose Plan <i class="fa-solid fa-arrow-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

     <!-- Marquee Section Start -->
     <div class="marquee-sections fix section-padding pt-0">
        <div class="mycustom-marque">
            <div class="scrolling-wrap gap-100">
                <div class="comm">
                    <div class="cmn-textslide textitalick text-custom-storke">Contact</div>
                    <div class="cmn-textslide textitalick text-custom-storke">us</div>
                    <div class="cmn-textslide textitalick text-custom-storke">now</div>
                </div>
                <div class="comm">
                    <div class="cmn-textslide textitalick text-custom-storke">Contact</div>
                    <div class="cmn-textslide textitalick text-custom-storke">us</div>
                    <div class="cmn-textslide textitalick text-custom-storke">now</div>
                </div>
                <div class="comm">
                    <div class="cmn-textslide textitalick text-custom-storke">Contact</div>
                    <div class="cmn-textslide textitalick text-custom-storke">us</div>
                    <div class="cmn-textslide textitalick text-custom-storke">now</div>
                </div>
            </div>
        </div>
    </div>
    </main>
    <!-- Main End -->

{% endblock body %}
