{% extends 'base.html' %}
{% block body %}
{% load static %}
    <!-- Main start -->
    <main class="main">

        <!-- Breadcrumb Section Start -->
        <div class="breadcrumb-wrapper bg-cover" style="background-image: url('assets/img/breadcrumb.jpg');">
         <div class="arrow-shape float-bob-y">
             <img src="assets/img/arrow.png" alt="img">
         </div>
         <div class="dot-shape float-bob-y">
             <img src="assets/img/dot.png" alt="img">
         </div>
         <div class="container">
             <div class="page-heading">
                 <div class="breadcrumb-sub-title">
                     <h1 class="wow fadeInUp" data-wow-delay=".3s">Team <span>Details</span></h1>
                 </div>
                 <ul class="breadcrumb-items wow fadeInUp" data-wow-delay=".5s">
                     <li>
                         <a href="index.html">
                         Home
                         </a>
                     </li>
                     <li>
                         <i class="fa-solid fa-arrow-right"></i>
                     </li>
                     <li>
                         Team Details
                     </li>
                 </ul>
             </div>
         </div>
     </div>
 
 
          <!--<< Team Details Section Start >>-->
          <section class="team-details-section fix section-padding">
             <div class="container">
                 <div class="row">
                     <div class="col-lg-12">
                         <div class="team-details-wrapper">
                             <div class="team-author-items ">
                                 <div class="thumb">
                                     <img src="assets/img/team/details.jpg" alt="img">
                                 </div>
                                 <div class="content">
                                     <h2>Leslie Alexander</h2>
                                     <span>UI/UX designer</span>
                                     <p class="cont">
                                         Sem consequat mauris conubia inceptos nostra rutrum morbi sagittis pulvinar, commodo curabitur  maecenas fermentum magna tempus nisi ullamcorper, ante auctor magnis pretium eu lectus euismod platea.
                                     </p>
                                     <div class="icon-area">
                                         <div class="icon-items">
                                             <div class="icon">
                                                 <i class="fa-solid fa-user"></i>
                                             </div>
                                             <div class="content">
                                                 <p>Experience</p>
                                                 <h5>More Than 10 Years</h5>
                                             </div>
                                         </div>
                                         <div class="icon-items">
                                             <div class="icon">
                                                 <i class="fa-solid fa-envelope"></i>
                                             </div>
                                             <div class="content">
                                                 <p>Email</p>
                                                 <h5><a href="mailto:info@example.com" class="link">info@example.com</a></h5>
                                             </div>
                                         </div>
                                     </div>
                                     <div class="icon-area style-2 mb-2">
                                         <div class="icon-items">
                                             <div class="icon">
                                                 <i class="fa-solid fa-user"></i>
                                             </div>
                                             <div class="content">
                                                 <p>Phone</p>
                                                 <h5><a href="tel:+2565862169581">+(256) 58621-69581</a></h5>
                                             </div>
                                         </div>
                                         <div class="icon-items">
                                             <div class="icon">
                                                 <i class="fa-solid fa-envelope"></i>
                                             </div>
                                             <div class="content">
                                                 <p>Fax</p>
                                                 <h5><a href="tel:+2568145632">+2568145632</a></h5>
                                             </div>
                                         </div>
                                     </div>
                                     <a href="contact.html" class="link-btns mt-4">CONTACT NOW <i class="fa-sharp fa-light fa-arrow-right-long"></i></a>
                                 </div>
                             </div>
                         </div>
                     </div>
                 </div>
             </div>
         </section>
 
         <!-- Team Informarion Start -->
         <section class="team-informarion-section section-bg">
             <div class="container">
                 <div class="team-informarion-items">
                     <div class="info-content">
                         <h2>Professional Info</h2>
                         <p class="mb-3">
                             There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary,
                         </p>
                         <p class="pt-2">
                             There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary,
                         </p>
                     </div>
                     <div class="personal-skills-box">
                         <div class="row g-4">
                             <div class="col-lg-6">
                                 <div class="progress-area">
                                     <div class="progress-wrap">
                                         <div class="pro-items">
                                             <div class="pro-head">
                                                 <h6 class="title">
                                                     air condition
                                                 </h6>
                                                 <span class="point">
                                                     90%
                                                 </span>
                                             </div>
                                             <div class="progress">
                                                 <div class="progress-value"></div>
                                             </div>
                                         </div>
                                         <div class="pro-items">
                                             <div class="pro-head">
                                                 <h6 class="title">
                                                     Heating services
                                                 </h6>
                                                 <span class="point">
                                                     70%
                                                 </span>
                                             </div>
                                             <div class="progress">
                                                 <div class="progress-value style-two"></div>
                                             </div>
                                         </div>
                                     </div>
                                 </div>
                             </div>
                             <div class="col-lg-6">
                                 <div class="progress-area">
                                     <div class="progress-wrap">
                                         <div class="pro-items">
                                             <div class="pro-head">
                                                 <h6 class="title">
                                                     AC installing
                                                 </h6>
                                                 <span class="point">
                                                     75%
                                                 </span>
                                             </div>
                                             <div class="progress">
                                                 <div class="progress-value style-three"></div>
                                             </div>
                                         </div>
                                         <div class="pro-items">
                                             <div class="pro-head">
                                                 <h6 class="title">
                                                     Treatment Planning
                                                 </h6>
                                                 <span class="point">
                                                     95%
                                                 </span>
                                             </div>
                                             <div class="progress">
                                                 <div class="progress-value"></div>
                                             </div>
                                         </div>
                                     </div>
                                 </div>
                             </div>
                         </div>
                         <p class="mt-4">
                             There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary,
                         </p>
                     </div>
                 </div>
             </div>
         </section>
 
          <!-- Marquee Section Start -->
          <div class="marquee-sections fix section-padding pt-0">
             <div class="mycustom-marque">
                 <div class="scrolling-wrap gap-100">
                     <div class="comm">
                         <div class="cmn-textslide textitalick text-custom-storke">Contact</div>
                         <div class="cmn-textslide textitalick text-custom-storke">us</div>
                         <div class="cmn-textslide textitalick text-custom-storke">now</div>
                     </div>
                     <div class="comm">
                         <div class="cmn-textslide textitalick text-custom-storke">Contact</div>
                         <div class="cmn-textslide textitalick text-custom-storke">us</div>
                         <div class="cmn-textslide textitalick text-custom-storke">now</div>
                     </div>
                     <div class="comm">
                         <div class="cmn-textslide textitalick text-custom-storke">Contact</div>
                         <div class="cmn-textslide textitalick text-custom-storke">us</div>
                         <div class="cmn-textslide textitalick text-custom-storke">now</div>
                     </div>
                 </div>
             </div>
         </div>
 
 
     </main>
     <!-- Main End -->
 

{% endblock body %}
