{% extends 'base.html' %}
{% block body %}
{% load static %}
    <!-- Main start -->
    <main class="main">

        <!-- Breadcrumb Section Start -->
        <div class="breadcrumb-wrapper bg-cover" style="background-image: url('assets/img/breadcrumb.jpg');">
            <div class="arrow-shape float-bob-y">
                <img src="assets/img/arrow.png" alt="img">
            </div>
            <div class="dot-shape float-bob-y">
                <img src="assets/img/dot.png" alt="img">
            </div>
            <div class="container">
                <div class="page-heading">
                    <div class="breadcrumb-sub-title">
                        <h1 class="wow fadeInUp" data-wow-delay=".3s">Our <span>Team</span></h1>
                    </div>
                    <ul class="breadcrumb-items wow fadeInUp" data-wow-delay=".5s">
                        <li>
                            <a href="index.html">
                            Home
                            </a>
                        </li>
                        <li>
                            <i class="fa-solid fa-arrow-right"></i>
                        </li>
                        <li>
                            Our Team
                        </li>
                    </ul>
                </div>
            </div>
        </div>


        <!-- team Section Start --> 
        <section class="team-section section-padding">
            <div class="container">
                <div class="row g-4">
                    <div class="col-xl-3 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay=".2s">
                        <div class="team-card-item mt-0">
                            <div class="team-image">
                                <img src="assets/img/team/01.jpg" alt="img">
                                <div class="social-icon d-flex align-items-center">
                                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                                    <a href="#"><i class="fab fa-twitter"></i></a>
                                    <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
                                    <a href="#"><i class="fa-brands fa-instagram"></i></a>
                                </div>
                            </div>
                            <div class="team-content">
                                <p>Programmer</p>
                                <h3><a href="team-details.html">Leslie Alexander</a></h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay=".4s">
                        <div class="team-card-item mt-0">
                            <div class="team-image">
                                <img src="assets/img/team/02.jpg" alt="img">
                                <div class="social-icon d-flex align-items-center">
                                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                                    <a href="#"><i class="fab fa-twitter"></i></a>
                                    <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
                                    <a href="#"><i class="fa-brands fa-instagram"></i></a>
                                </div>
                            </div>
                            <div class="team-content">
                                <p>UI/UX designer</p>
                                <h3><a href="team-details.html">Darlene Robertson</a></h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay=".6s">
                        <div class="team-card-item mt-0">
                            <div class="team-image">
                                <img src="assets/img/team/03.jpg" alt="img">
                                <div class="social-icon d-flex align-items-center">
                                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                                    <a href="#"><i class="fab fa-twitter"></i></a>
                                    <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
                                    <a href="#"><i class="fa-brands fa-instagram"></i></a>
                                </div>
                            </div>
                            <div class="team-content">
                                <p>Web developer</p>
                                <h3><a href="team-details.html">Marvin McKinney</a></h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay=".8s">
                        <div class="team-card-item mt-0">
                            <div class="team-image">
                                <img src="assets/img/team/04.jpg" alt="img">
                                <div class="social-icon d-flex align-items-center">
                                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                                    <a href="#"><i class="fab fa-twitter"></i></a>
                                    <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
                                    <a href="#"><i class="fa-brands fa-instagram"></i></a>
                                </div>
                            </div>
                            <div class="team-content">
                                <p>CEO</p>
                                <h3><a href="team-details.html">Esther Howard</a></h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay=".2s">
                        <div class="team-card-item mt-0">
                            <div class="team-image">
                                <img src="assets/img/team/05.jpg" alt="img">
                                <div class="social-icon d-flex align-items-center">
                                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                                    <a href="#"><i class="fab fa-twitter"></i></a>
                                    <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
                                    <a href="#"><i class="fa-brands fa-instagram"></i></a>
                                </div>
                            </div>
                            <div class="team-content">
                                <p>Programmer</p>
                                <h3><a href="team-details.html">Leslie Alexander</a></h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay=".4s">
                        <div class="team-card-item mt-0">
                            <div class="team-image">
                                <img src="assets/img/team/06.jpg" alt="img">
                                <div class="social-icon d-flex align-items-center">
                                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                                    <a href="#"><i class="fab fa-twitter"></i></a>
                                    <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
                                    <a href="#"><i class="fa-brands fa-instagram"></i></a>
                                </div>
                            </div>
                            <div class="team-content">
                                <p>UI/UX designer</p>
                                <h3><a href="team-details.html">Darlene Robertson</a></h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay=".6s">
                        <div class="team-card-item mt-0">
                            <div class="team-image">
                                <img src="assets/img/team/07.jpg" alt="img">
                                <div class="social-icon d-flex align-items-center">
                                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                                    <a href="#"><i class="fab fa-twitter"></i></a>
                                    <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
                                    <a href="#"><i class="fa-brands fa-instagram"></i></a>
                                </div>
                            </div>
                            <div class="team-content">
                                <p>Web developer</p>
                                <h3><a href="team-details.html">Marvin McKinney</a></h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay=".8s">
                        <div class="team-card-item mt-0">
                            <div class="team-image">
                                <img src="assets/img/team/08.jpg" alt="img">
                                <div class="social-icon d-flex align-items-center">
                                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                                    <a href="#"><i class="fab fa-twitter"></i></a>
                                    <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
                                    <a href="#"><i class="fa-brands fa-instagram"></i></a>
                                </div>
                            </div>
                            <div class="team-content">
                                <p>CEO</p>
                                <h3><a href="team-details.html">Esther Howard</a></h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

          <!-- Marquee Section Start -->
          <div class="marquee-sections fix section-padding pt-0">
            <div class="mycustom-marque">
                <div class="scrolling-wrap gap-100">
                    <div class="comm">
                        <div class="cmn-textslide textitalick text-custom-storke">Contact</div>
                        <div class="cmn-textslide textitalick text-custom-storke">us</div>
                        <div class="cmn-textslide textitalick text-custom-storke">now</div>
                    </div>
                    <div class="comm">
                        <div class="cmn-textslide textitalick text-custom-storke">Contact</div>
                        <div class="cmn-textslide textitalick text-custom-storke">us</div>
                        <div class="cmn-textslide textitalick text-custom-storke">now</div>
                    </div>
                    <div class="comm">
                        <div class="cmn-textslide textitalick text-custom-storke">Contact</div>
                        <div class="cmn-textslide textitalick text-custom-storke">us</div>
                        <div class="cmn-textslide textitalick text-custom-storke">now</div>
                    </div>
                </div>
            </div>
        </div>

    </main>
    <!-- Main End -->


{% endblock body %}
